

* {
	margin:0px;
	padding:0px;
}



body {
max-width: 100%;
margin: 0 auto !important;
/*	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;*/
}

nav {
	background-color: darkorange;
	height: 150px;
	margin: 0;
	text-align: center;
}


.log {
	width: 200px;
	height: 150px;
}

/*div {
	border: 1px red solid;
}*/

/*section {
	border: 1px blue dotted;
}*/


/*.forms {
	margin-left: 60px;
}*/


/***************** Section 1: Customer Info *****************/

.cust-header {
	margin-left: 20px;
}


.left-input {
	width: 48%;
	height: 210px;
	box-sizing: border-box;
	float: left;
	margin-left: 15px;
}


.right-input {
	width: 48%;
	height: 210px;
	box-sizing: border-box;
	float: right;

}



form {
	font-size: 28px;
}

.input1 {
	width: 90%;
}
.input2 {
	width: 90%;
}
.input3 {
	width: 90%;
}
.input4 {
	width: 90%;
}
.input5 {
	width: 90%;
}

.input6 {
	height: 110px;
	margin-top: 10px;
	resize: none;
	border-top: none;
	border-left: none;
	border-right: none;
	line-height: 100%;
	border-bottom: solid 1px gray;
	width: 90%;
}


.control-label {
	font-size: 28px;
}


input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px gray;
	height: 32px;
}



/*input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px darkorange;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid darkorange;
}*/

/*input:focus {
    border-color: #cfdc00;
    box-shadow: 0 0 5px darkorange;
}*/



.cust-info {
	/*text-align: center;*/
}

.control-label {
/*	margin-right: 25px;*/
}

.controls {

}

.timber-header {
	margin-left: 15px;
	clear: both;
}


/***************** Section 2: Timber Details *****************/

/*.modal-body {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}*/

.pop-up {
	text-align: center;
}

.tim-img {
	margin-right: 15px;

}

.details-button {
	clear: both;
	border-style: none;
	border: 2px #7c4e20 solid;
	border-radius: 8px;
}

.modal-content {
	width: 900px;
	text-align: left;
}

/*.timber-details {
	height: 100%;
}*/



/*.option-dropdowns {
	list-style: none;
	text-decoration: none;
	position: absolute;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}*/



/*.option-dropdowns > li {
	box-sizing: border-box;
	display: inline-block;
	margin: 10px;
	background-color: blue;
	color: blue;
	height: 30px;
	list-style: none;
	text-decoration: none;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}*/

/*.dropdown-toggle:hover {
    background-color: #3e8e41;
}*/

/*.dropdown {
	text-align: center;
}*/





/*.left-details {
	width: 45%;
	height: 150px;
	margin-left: 15px;
	box-sizing: border-box;
	float: left;
}

.right-details {
	width: 45%;
	height: 150px;
	box-sizing: border-box;
	float: right;
}

.input7 {
	width: 93.2%;
}
.input8 {
	width: 58.1%;
}
.input9 {
	width: 60.1%;
}
.input10 {
	width: 85%;
}*/


/***************** Section 3: Timber Input List *****************/


.timber-list {
	box-sizing: border-box;
}

/*.control-group {
	float: left;
}*/

.left-tim-input {
	width: 32%;
	height: 110px;
	box-sizing: border-box;
	margin-left: 15px;
	float: left;
	text-align: center;
}


.right-tim-input {
	width: 32%;
	height: 110px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}

.input11 {
	width: 90%;
}

.input12 {
	width: 90%;
}


.add-button-div {
	width: 30%;
	float: right;
	/*margin-right: 45%;*/

}







/********** MODAL **********/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    /*margin-left: 40px;*/
}

.dropdown {
    position: relative;
    display: inline-block;
    /*margin-left: 40px;*/
    min-width: 160px;
    text-align: center;
    margin: 0px 20px;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    /*margin-left: 40px;*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*margin-left: 40px;*/
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/********** TIMBER OPTION BUTTONS **********/

.option-bubble-1 {
	border-style: none;
	border: 2px green solid;
	border-radius: 8px;
	/*float: left;*/
	min-width: 80px;
	min-height: 40px;
	background-color: green;
	color: white;
/*	border-style: none;*/
/*	margin-left: 15px;
    margin-right: 15px;*/
    margin: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;


}

.option-bubble-2 {
	border-style: none;
	border: 2px orange solid;
	border-radius: 8px;
	/*float: left;*/
	min-width: 80px;
	min-height: 40px;
	background-color: orange;
	color: white;
/*	border-style: none;*/
/*	margin-left: 15px;
    margin-right: 15px;*/
    margin: 15px;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;
}

.option-bubble-3 {
	border-style: none;
	border: 2px #7c4e20 solid;
	border-radius: 8px;
	/*float: left;*/
	min-width: 80px;
	min-height: 40px;
	background-color: #7c4e20;
	color: white;
/*	border-style: none;*/
/*	margin-left: 15px;
    margin-right: 15px;*/
    margin: 15px;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;
}


.option-bubble-1, .option-bubble-2, .option-bubble-3:focus   {
	outline: none;
}




/*.option-button-4 {
	border-color: orange;
	border-radius: 8px;
	float: left;
	width: 80px;
	height: 40px;
	background-color: white;
	border-style: none;
	margin-left: 15px;
    margin-right: 15px;
    margin: 15px;
}*/



/********** TABLE **********/

.populate-table {
	clear: both;
	margin-left: 40px;
	margin-right: 40px;
}

/*table {
	text-align: center;
	width: 100%;
}*/



table {
	width: 100%;
	table-layout: fixed;
	text-decoration: none;

	/*border-collapse: separate;	*/
}

.edit-del {
	text-decoration: none;

}

.small {
	text-decoration: none;
}

.small:focus {
	text-decoration: none;
}

h3 {
	text-decoration: none;

}

a:hover, a:focus {
	text-decoration: none !important;
	color: red;
}



th {
/*	text-decoration: underline;*/
	/*border: 1px blue dotted;*/
	text-align: center;
}

td {
	/*border: 1px red dotted;*/
}


.gu-mirror { 
	position:fixed!important;
	margin:0!important;
	z-index:9999!important;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80)
}

.gu-hide { 
		display:none!important
}

.gu-unselectable {
	-webkit-user-select:none!important;
	-moz-user-select:none!important;
	-ms-user-select:none!important;
	user-select:none!important
}

.gu-transit {
	opacity:.2;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter:alpha(opacity=20)
}


/**********************************************/

.container {
  max-width: 960px;
  margin: 0 auto;
}

.left {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
}

.right {
  float: left;
  position: relative;
  width: 40%;
  margin-left: 5%;
  height: 100%;
}

/* #display {
  background: #2d2d2d;
  border: 10px solid #000000;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  height: 100px;
  min-width:200px;
  text-align: center;
  padding: 1em;
  display:table-cell;
  vertical-align:middle;
} */

#drag-elements {
  display: block;
  background-color: #dfdfdf;
  border-radius: 5px;
  min-height: 50px;
  margin: 0 auto;
  padding: 2em;
}

#drag-elements > div {
  text-align: center;
  float: left;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  border: 2px solid #ececec;
  background: #F7F7F7;
  transition: all .5s ease;
}

#drag-elements > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

#drag-elements > div:hover {
  border: 2px solid gray;
  background-color: #e5e5e5;
}

#drop-target {
  border: 2px dashed #D9D9D9;
  border-radius: 5px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 2em;
  display: block;
  text-align: center;
}

#drop-target > div {
  transition: all .5s;
  text-align: center;
  float: left;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid skyblue;
  background: #F7F7F7;
  transition: all .5s ease;
}

/*#drop-target > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}*/

/*@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}*/




/**********************************************/






h3 {
	text-align: center;
}
/*td {
	text-align: center;
	overflow: scroll;
	width: 10%;
	display: inline-block;
}

/*table, th, td {
    border: 1px solid black;
}*/

/*table tr td+td+td {
  font-size: 100%;
  font-family: monospace;
  width: 8em;
}*/


/**************** Section 4: Get Quote ****************/



.get-quote {
	margin-top: 50px;
	text-align: center;
	clear: both;
}

.my-btn {
	background-color: darkorange;
	text-align: center;
	height: 46px;
	width: 122px;
	color: white;
    font-size: 18px;
    line-height: 1.3333333;
    border: 1px solid transparent;
    border-radius: 6px;
}

.my-btn:hover {
	background-color: #ff7700;
}

